---
import "../../styles/global.css";

interface Props {
  name: string;
  url: string;
  isBig?: boolean;
}

const { name, url, isBig = false } = Astro.props;

const pokemonId = url.split("/").at(-2);
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${pokemonId}.png`;
---

<!-- class={`rounded flex flex-col justify-center items-center p-2 ${!isBig && 'border'}`}href={`/pokemons/${name}`} -->
<a
  href={`/pokemons/${name}`}
  class:list={[
    `rounded flex flex-col justify-center items-center p-2`,
    {
      border: !isBig,
    },
  ]}
>
  <img
    transition:name={`${name}-image`}
    class:list={[
      {
        "w-60 h-60": isBig,
        "w-22 h-22s": !isBig,
      },
    ]}
    src={imageSrc}
    alt={name}
  />

  <span
    class:list={[
      "capitalize",
      {
        "text-4xl text-blue-300": isBig,
      },
    ]}>#{pokemonId} {name}</span
  >
</a>
