---
import "../../styles/global.css";

import type { GetStaticPaths } from "astro";

import PokemonCard from "../../components/pokemons/PokemonCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";

interface Props {
  url: string;
}

export const getStaticPaths = (() => {
  return [
    {
      params: { name: "bulbasaur" },
      props: {
        name: "bulbasaur",
        url: "https://pokeapi.co/api/v2/pokemon/1/",
      },
    },
    {
      params: { name: "charmander" },
      props: {
        name: "charmander",
        url: "https://pokeapi.co/api/v2/pokemon/4/",
      },
    },
  ];
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const pokemonId = url.split("/").at(-2);
console.log("🚀 ~ pokemonId:", pokemonId);

const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${pokemonId}.ogg`;
---

<MainLayout title="Algún pokémon">
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div>
      <a href="/">Regresar</a>
      <h1 class="text-5xl capitalize">{name}</h1>
    </div>

    <PokemonCard name={name} url={url} />

    <audio controls class="mt-5">
      <source src={audioSrc} type="audio/ogg" />
      Your browser does not support the audio element.
    </audio>
  </section>
</MainLayout>

<style>
  @reference "../../styles/global.css";
  a {
    @apply hover:underline text-blue-500;
  }
</style>
